.advantages {
  text-align: center;
  text-transform: uppercase;
}

.advantages__header {
  max-width: 380px;
  margin: 0 auto;
  padding: 34px 0 32px 0;

  @media (min-width: $vp-tablet) {
    max-width: 730px;
    padding: 49px 0 56px 0;
  }

  @media (min-width: $vp-desktop) {
    padding: 59px 0 46px 0;
  }
}

.advantages__main-title {
  margin-bottom: 36px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 28px;
  }
}

.advantages__main-title br,
.advantages__item-title br {
  @media (max-width: calc($vp-tablet - 1px)) {
    display: none;
  }
}

.advantages__intro {
  margin: 0;

  color: $color-night-rider;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-tablet) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__list-top {
  padding: 23px 19px 45px 19px;

  text-align: left;

  @media (min-width: $vp-tablet) {
    padding: 0;
  }
}

.advantages__item {
  padding: 24px 18px;

  @media (min-width: $vp-tablet) {
    padding: 24px 33px 40px 33px;
  }

  @media (min-width: $vp-desktop) {
    padding: 52px 50px 40px 50px;
  }
}

.advantages__list-top .advantages__item {
  position: relative;

  margin-bottom: 24px;
  padding: 9px 0 0 46px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $vp-tablet) {
    margin-bottom: 0;
    padding: 156px 33px 62px 33px;
  }

  @media (min-width: $vp-desktop) {
    padding: 169px 50px 70px 50px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $vp-tablet) {
      left: 50%;

      transform: translateX(-50%);
    }
  }

  &--hotel::before {
    background-image: url("../images/svg/home.svg");

    @media (min-width: $vp-tablet) {
      top: 60px;

      width: 77px;
      height: 72px;
    }

    @media (min-width: $vp-desktop) {
      top: 69px;

      width: 79px;
      height: 72px;
    }
  }

  &--food::before {
    background-image: url("../images/svg/burger.svg");

    @media (min-width: $vp-tablet) {
      top: 62px;

      width: 80px;
      height: 68px;
    }

    @media (min-width: $vp-desktop) {
      top: 72px;

      width: 73px;
      height: 69px;
    }
  }

  &--souvenir::before {
    background-image: url("../images/svg/gift-1.svg");

    @media (min-width: $vp-tablet) {
      top: 64px;

      width: 67px;
      height: 75px;
    }

    @media (min-width: $vp-desktop) {
      top: 69px;

      width: 77px;
      height: 75px;

      background-image: url("../images/svg/gift-2.svg");
    }
  }
}

.advantages__title {
  margin-bottom: 16px;

  @media (max-width: calc($vp-tablet - 1px)) {
    text-align: left;
  }

  @media (min-width: $vp-tablet) {
    margin-bottom: 23px;
  }
}

.advantages__item-title {
  margin-bottom: 12px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 15px;
  }
}

.advantages__number {
  display: block;
  margin-bottom: 17px;

  color: $color-night-rider;

  @media (min-width: $vp-tablet) {
    margin-bottom: 23px;
  }
}

.advantages__subject {
  margin: 0;

  color: $color-night-rider;

  @media (max-width: calc($vp-tablet - 1px)) {
    text-align: left;
  }
}

.advantages__subject br:not([class]) {
  @media (max-width: calc($vp-tablet - 1px)) {
    display: none;
  }
}

.advantages__subject .advantages__br {
  @media (min-width: $vp-tablet) {
    display: none;
  }
}

.advantages__list-bottom {
  padding-bottom: 4px;

  background-color: $color-whisper-0;

  @media (min-width: $vp-tablet) {
    padding-bottom: 1px;
  }
}

.advantages__list-bottom .advantages__item {
  padding: 24px 26px;

  @media (min-width: $vp-tablet) {
    margin: auto 0;
    padding: 40px 33px;
  }

  @media (min-width: $vp-desktop) {
    padding: 63px 50px 39px 50px;
  }

  &:nth-child(2n) {
    @media (min-width: $vp-desktop) {
      transform: translateY(-11px);
    }
  }
}

.advantages__list-bottom .advantages__subject {
  margin: 0 auto;

  text-align: center;

  @media (min-width: $vp-tablet) {
    max-width: 180px;
  }

  @media (min-width: $vp-desktop) {
    max-width: 300px;
  }
}

.advantages__item--text .advantages__subject {
  @media (min-width: $vp-tablet) {
    max-width: 190px;
  }

  @media (min-width: $vp-desktop) {
    max-width: 300px;
  }
}

.advantages__list-bottom .advantages__item:not(:last-child) {
  border-bottom: 1px solid $color-light-grey-6;

  @media (min-width: $vp-tablet) {
    border: none;
  }
}
