.button-link {
  display: block;
  width: 100%;
  padding: 16px;

  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;

  background-color: $color-seagull;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-shakespeare-669;
  }

  &:active,
  &:focus {
    color: rgba($color-default-white, 0.3);

    background-color: $color-shakespeare-549;
  }

  &:disabled {
    background-color: $color-whisper-5;

    pointer-events: none;
  }
}
