.button-link {
  display: block;
  color: $color-default-white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 16px;
  background-color: $color-seagull;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;
}
