.feedback {
  padding-top: 36px;
  padding-bottom: 24px;

  @media (min-width: $vp-tablet) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media (min-width: $vp-desktop) {
    padding-right: 120px;
    padding-left: 120px;
  }
}

.feedback__header {
  max-width: 535px;
  margin: 0 auto;
}

.feedback__main-title {
  margin-bottom: 24px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 20px;
  }
}

.feedback__intro {
  margin: 0;
  margin-bottom: 28px;

  color: $color-night-rider;

  @media (min-width: $vp-tablet) {
    margin-bottom: 102px;
  }
}

.feedback__form-container {
  @media (min-width: $vp-tablet) {
    display: grid;
    margin-bottom: 48px;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $vp-desktop) {
    display: grid;
    margin-bottom: 56px;

    grid-template-columns: repeat(2, 1fr);
  }
}

.feedback__group {
  display: block;
  padding: 0;
  padding-bottom: 39px;

  border: none;
}

.feedback__actions {
  @media (min-width: $vp-tablet) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $vp-desktop) {
    padding: 0 96px;
  }
}

.feedback__actions-description {
  font-size: 12px;
  text-align: right;
  color: $color-night-rider;
  text-transform: uppercase;

  opacity: 0.3;
}
