.hotel-search {
  max-width: 458px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 49px;
}

.hotel-search__title {
  margin-bottom: 17px;
}

.hotel-search__description {
  margin-bottom: 32px;
}
