.hotel-search {
  max-width: 458px;
  margin: 0 auto;
  padding: 38px 0 39px 0;

  @media (min-width: $vp-tablet) {
    padding: 62px 0 48px 0;
  }

  @media (min-width: $vp-desktop) {
    padding: 61px 0 56px 0;
  }
}

.hotel-search__title {
  margin-bottom: 20px;

  font-size: 21px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 33px;

    font-size: 30px;
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 33px;
  }
}

.hotel-search__description br {
  @media (max-width: calc($vp-tablet - 1px)) {
    display: none;
  }
}

.hotel-search__description {
  margin-bottom: 32px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 45px;
  }
}
