.main-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-top: 29px;
  padding-bottom: 23px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $vp-tablet) {
    display: grid;

    gap: 70px;
    grid-template-columns: 160px 1fr 160px;
  }

  &--photo {
    @media (min-width: $vp-tablet) {
      padding-right: 44px;

      grid-template-columns: 140px 1fr 160px;
    }

    @media (min-width: $vp-desktop) {
      padding-right: 104px;
    }
  }
}

.main-footer__hashtag {
  margin: 0;
  margin-bottom: 33px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $vp-tablet) {
    align-self: center;
    margin-bottom: 0;
    padding-right: 24px;
  }
}

.main-footer__social {
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;

  @media (min-width: $vp-tablet) {
    margin-bottom: 0;

    transform: translate(2px, -3px);
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  color: $color-default-black;

  @media (min-width: $vp-tablet) {
    align-self: center;
  }

  &:hover {
    color: $color-seagull;
  }

  &:active,
  &:focus {
    color: $color-pink-swan;

    outline: none;
  }
}

.main-footer__copyright-text {
  display: flex;
  margin-right: 12px;
  padding-top: 5px;

  color: inherit;
}
