.main-card {
  background-color: $color-seagull;

  clip-path: polygon(50% 4%, 100% 1%, 100% 100%, 0 100%, 0 1%);

  @media (min-width: $vp-tablet) {
    display: grid;
    min-height: 256px;

    clip-path: none;

    grid-template-columns: repeat(3, 1fr);
  }

  &--second {
    clip-path: none;
  }
}


.main-card__inner {
  margin: auto;
  padding: 54px 17px 39px 17px;

  color: $color-default-white;

  @media (min-width: $vp-tablet) {
    padding-bottom: 31px;
  }

  @media (min-width: $vp-desktop) {
    padding: 33px 17px 31px 17px;
  }
}

.main-card--second .main-card__inner {
  padding: 38px 17px 36px 17px;

  grid-column: 3/-1;

  @media (min-width: $vp-tablet) {
    padding: 53px 17px 31px 17px;
  }

  @media (min-width: $vp-desktop) {
    padding-top: 34px;
  }
}

.main-card__title {
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 11px;

  color: $color-default-white;
}

.main-card__number {
  display: block;
  margin-bottom: 17px;

  color: $color-default-white;

  @media (min-width: $vp-tablet) {
    margin-bottom: 24px;
  }
}

.main-card__subject {
  max-width: 284px;
  margin: 0 auto;

  color: $color-default-white;

  @media (min-width: $vp-tablet) {
    max-width: 197px;
  }

  @media (min-width: $vp-desktop) {
    max-width: 300px;
  }

  &--small {
    @media (min-width: $vp-tablet) {
      max-width: 197px;
    }

    @media (min-width: $vp-desktop) {
      max-width: 256px;
    }
  }
}

.main-card__image-container {
  @media (min-width: $vp-tablet) {
    grid-column: 2/-1;

    &--image-first {
      grid-column: 1/3;
      grid-row: 1;
    }
  }
}

.main-card__image {
  display: block;
  height: 100%;
  width: 100%;

  background-color: $color-seagull;

  object-fit: cover;
}
