.main-footer {
  text-align: center;
  text-transform: uppercase;
  padding-top: 35px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 33px;
}

.main-footer__social.main-footer__social {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.main-footer__copyright {
  display: block;
  color: $color-default-black;
}
