.main-nav__list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  display: none;
  width: 100%;

  @media (min-width: $vp-tablet) {
    display: grid;
  }

  .no-js & {
    position: static;

    display: block;

    @media (min-width: $vp-tablet) {
      display: grid;
    }
  }

  .is-open & {
    display: block;

    @media (min-width: $vp-tablet) {
      position: static;

      display: grid;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;

  display: block;
  width: 60px;
  height: 60px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    right: 20px;

    width: 23px;
    height: 4px;

    background-color: $color-seagull;
    box-shadow: 0 9px 0 0 $color-seagull, 0 18px 0 0 $color-seagull;
  }

  .is-open & {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 26px;
      right: 17px;

      width: 27px;
      height: 4px;

      background-color: $color-default-white;
      box-shadow: none;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .no-js & {
    display: none;
  }

  @media (min-width: $vp-tablet) {
    display: none;
  }

  &:hover {
    opacity: 0.3;
  }

  &:active,
  &:focus {
    opacity: 0.6;
  }
}
