.photo {
  padding-top: 39px;

  @media (min-width: $vp-tablet) {
    padding-top: 66px;
  }

  @media (min-width: $vp-desktop) {
    padding: 98px 0 0 0;
  }
}

.photo__wrapper {
  @media (min-width: $vp-tablet) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $vp-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.photo__title {
  max-width: 458px;
  margin: 0 auto;
  margin-bottom: 24px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 32px;
  }
}

.photo__text {
  max-width: 458px;
  margin: 0 auto;
  margin-bottom: 36px;

  text-align: center;
  color: $color-night-rider;
  text-transform: uppercase;

  @media (min-width: $vp-tablet) {
    margin-bottom: 81px;
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 89px;
  }
}

.photo__text br {
  @media (max-width: calc($vp-tablet - 1px)) {
    display: none;
  }
}

.photo__link {
  display: block;
  outline: none;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.7;
  }
}
