.photo-item {
  position: relative;

  margin: 0;
  padding: 25px 0 27px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -18px;

    width: calc(100% + 36px);
    height: 1px;

    background-color: $color-whisper-5;

    @media (min-width: $vp-tablet) {
      display: none;
    }
  }

  @media (min-width: $vp-tablet) {
    padding: 0;

    background-color: $color-white-smoke;
    border: none;
  }

  &--main {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -18px;

      width: calc(100% + 36px);
      height: 1px;

      background-color: $color-whisper-5;

      @media (min-width: $vp-tablet) {
        display: none;
      }
    }
  }
}

.photo-item__image {
  display: block;
  width: 100%;
  max-height: 400px;
  margin-bottom: 15px;

  background-color: $color-cream-brulee;

  object-fit: cover;

  @media (min-width: $vp-tablet) {
    margin-bottom: 0;
  }
}

.photo-item__content {
  @media (min-width: $vp-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 22px 20px 4px 20px;
  }

  @media (min-width: $vp-desktop) {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    min-height: 80px;
    padding: 22px 25px 12px 21px;

    color: $color-default-white;

    background-color: $color-black-transparent;
  }

  &--small {
    @media (min-width: $vp-desktop) {
      padding: 19px 25px 12px 25px;
    }
  }
}

.photo-item__subtitle {
  margin: 0;
  margin-bottom: 1px;

  font-weight: 700;
  font-size: $fz-default;
  line-height: 21px;
  text-transform: uppercase;
}

.photo-item__author {
  margin: 0;
  margin-bottom: 11px;

  color: $color-night-rider;

  @media (min-width: $vp-desktop) {
    margin-bottom: 0;

    color: $color-default-white;
  }
}

.photo-item__likes {
  display: flex;

  @media (min-width: $vp-tablet) {
    transform: translateY(-7px);
  }

  @media (min-width: $vp-desktop) {
    transform: translate(5px, -5px);
  }
}

.photo-item__likes-button {
  margin: auto 14px auto 0;
  padding: 0;

  color: $color-black-transparent;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-tablet) {
    margin-right: 9px;
  }

  @media (min-width: $vp-desktop) {
    color: $color-default-white;
  }

  &:hover {
    color: $color-seagull;
  }

  &:active,
  &:focus {
    color: $color-shakespeare-549;
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}

.photo-item__likes-count {
  margin: auto 0;

  font-weight: 700;
}
