.photo-item {
  position: relative;

  margin: 0;
  padding: 25px 0 25px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -18px;

    width: calc(100% + 36px);
    height: 1px;

    background-color: $color-whisper-5;

    @media (min-width: $vp-tablet) {
      display: none;
    }
  }

  @media (min-width: $vp-tablet) {
    padding: 0;

    background-color: $color-white-smoke;
    border: none;
  }

  @media (min-width: $vp-desktop) {
    padding-top: 187px;
    display: flex;
  }

  &--main {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -18px;

      width: calc(100% + 36px);
      height: 1px;

      background-color: $color-whisper-5;

      @media (min-width: $vp-tablet) {
        display: none;
      }
    }

    @media (min-width: $vp-desktop) {
      padding-top: 320px;
    }
  }

  &:nth-child(2n) {
    @media (min-width: $vp-tablet) {
      background-color: $color-whisper-a;
    }
}
}

.photo-item__image {
  display: block;
  width: 100%;
  max-height: 400px;
  margin-bottom: 15px;

  background-color: $color-cream-brulee;

  object-fit: cover;

  @media (min-width: $vp-tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $vp-desktop) {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.photo-item__content {
  @media (min-width: $vp-tablet) {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 4px 20px;
  }

  @media (min-width: $vp-desktop) {
    position: relative;
    z-index: 1;
    padding: 22px 25px 15px 21px;

    color: $color-default-white;

    background-color: rgba($color-default-black, 0.3);
    flex-grow: 1;
  }

  &--small {
    @media (min-width: $vp-desktop) {
      padding: 19px 25px 18px 25px;
    }
  }
}

.photo-item__content-inner {
  padding-right: 10px;
}

.photo-item__subtitle {
  margin: 0;
  margin-bottom: 1px;

  font-weight: 700;
  font-size: $fz-default;
  line-height: 21px;
  text-transform: uppercase;
}

.photo-item__author {
  margin: 0;
  margin-bottom: 11px;

  color: $color-night-rider;

  @media (min-width: $vp-desktop) {
    margin-bottom: 0;

    color: $color-default-white;
  }
}

.photo-item__likes {
  display: flex;

  @media (min-width: $vp-tablet) {
    transform: translateY(-7px);
    margin-top: 12px;
  }

  @media (min-width: $vp-desktop) {
    transform: translate(5px, -5px);
  }
}

.photo-item__likes-button {
  margin: 0 14px 0 0;
  padding: 0;

  color: rgba($color-default-black, 0.3);

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: $vp-tablet) {
    margin-right: 9px;
    display: flex;
  }

  @media (min-width: $vp-desktop) {
    color: $color-default-white;
  }

  &:hover {
    color: $color-seagull;
  }

  &:active,
  &:focus {
    color: $color-shakespeare-549;
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}

.photo-item__likes-count {
  margin: 0;
  margin-top: 5px;

  font-weight: 700;
}
