.photo-item {
  position: relative;

  margin: 0;
  padding-top: 24px;
  padding-bottom: 25px;

  border-bottom: 1px solid $color-whisper-5;

  @media (min-width: $vp-tablet) {
    padding-top: 0;
    padding-bottom: 0;

    background-color: $color-white-smoke;
    border: none;
  }

  &--main {
    border-top: 1px solid $color-whisper-5;

    @media (min-width: $vp-tablet) {
      border: none;
    }
  }
}

.photo-item__image {
  margin-bottom: 15px;

  background-color: $color-cream-brulee;

  @media (min-width: $vp-tablet) {
    margin-bottom: 0;
  }
}

.photo-item__content {
  @media (min-width: $vp-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px 15px 15px;
  }

  @media (min-width: $vp-desktop) {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    min-height: 80px;
    padding: 17px 25px;

    color: $color-default-white;

    background-color: $color-black-transparent;
  }
}

.photo-item__subtitle {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: $fz-default;
  line-height: 21px;
  text-transform: uppercase;
}

.photo-item__author {
  margin: 0;
  margin-bottom: 11px;

  color: $color-night-rider;

  @media (min-width: $vp-desktop) {
    color: $color-default-white;
  }
}

.photo-item__likes {
  display: flex;
}

.photo-item__likes-button {
  margin: auto 14px auto 0;
  padding: 0;

  color: $color-black-transparent;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-desktop) {
    color: $color-default-white;
  }
}

.photo-item__likes-count {
  margin: auto 0;

  font-weight: 700;
}
