.site-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;

  background-color: $color-seagull;

  @media (min-width: $vp-tablet) {
    display: grid;

    background-color: transparent;

    grid-template-columns: repeat(5, 1fr);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 7px;

    background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
    );

    @media (min-width: $vp-tablet) {
      display: none;
    }
  }
}

.site-list__item {
  position: relative;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $vp-tablet) {
    padding: 7px 10px 2px 10px;

    border: none;
  }

  &:nth-child(3) {
    grid-column-start: 4;
  }

  &:nth-child(7) {
    grid-column-start: 4;
  }

  &:last-child {
    border-bottom: none;
  }
}

.site-list__link {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 17px 50px 11px 50px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-default-white;

  outline: none;

  @media (min-width: $vp-tablet) {
    width: auto;
    padding: 10px;

    font-size: $fz-default;
    color: $color-default-black;
  }

  &:hover {
    background-color: $color-shakespeare-669;

    @media (min-width: $vp-tablet) {
      color: $color-seagull;

      background-color: transparent;
    }
  }

  &:active,
  &:focus {
    color: $color-white-transparent;

    background-color: $color-shakespeare-549;
    outline: none;

    @media (min-width: $vp-tablet) {
      color: $color-black-transparent;

      background-color: transparent;
    }
  }
}

.site-list__item--current .site-list__link {
  color: $color-white-transparent;

  &:hover,
  &:active,
  &:focus {
    color: $color-default-white;

    background: transparent;
  }

  @media (min-width: $vp-tablet) {
    color: $color-roman-coffee;

    pointer-events: none;
  }
}
