.user-visiting {
  padding-bottom: 23px;

  @media (min-width: $vp-tablet) {
    border-top: 1px solid $color-gainsboro;
  }
}

.user-visiting__title {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 26px;

  @media (min-width: $vp-tablet) {
    width: auto;
    padding: 0 74px;
  }

  @media (min-width: $vp-desktop) {
    width: auto;
    padding: 0 63px;
  }
}

.user-visiting__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 16px;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: $vp-tablet) {
    max-width: 480px;
    margin: 0 auto;
    padding: 10px 0 18px 0;

    column-gap: 32px;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $vp-desktop) {
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    margin-left: -4px;
    padding: 41px 2% 64px 5%;

    gap: 63px;
  }
}

.user-visiting__content-item {
  @media (min-width: $vp-desktop) {
    max-width: 184px;
  }
}

.user-visiting__control-label {
  position: relative;

  display: inline-block;
  min-height: 46px;
  padding-left: 62px;

  cursor: pointer;

  &:hover {
    & .user-visiting__control-checkbox {
      background-color: $color-whisper-5;
    }
  }

  &:active,
  &:focus {
    & .user-visiting__control-checkbox {
      background-color: $color-light-grey-6;
      outline: none;
    }
  }
}

.user-visiting__content-name {
  display: block;
  padding: 10px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.user-visiting__control-checkbox {
  position: absolute;
  top: 0;
  left: 0;

  width: 46px;
  height: 46px;

  background-color: $color-white-smoke;
}

.user-visiting__control-input:checked + .user-visiting__control-checkbox {
  background-image: url("../images/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 47%;
}

.user-visiting__control-input:disabled ~ .user-visiting__control-checkbox,
.user-visiting__control-input:disabled ~ .user-visiting__content-name {
  opacity: 0.3;

  pointer-events: none;
}

.user-visiting__control-label:active .user-visiting__control-input:checked + .user-visiting__control-checkbox,
.user-visiting__control-label:focus .user-visiting__control-input:checked + .user-visiting__control-checkbox {
  background-image: url("../images/svg/tick-active.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-visiting__control-input:focus + .user-visiting__control-checkbox {
  outline: 2px solid $color-seagull;
}
