.user-data--left .user-data__content-item {
  @media (min-width: $vp-tablet) {
    padding-right: 42px;
  }

  @media (min-width: $vp-desktop) {
    padding-right: 48px;
  }
}

.user-data--right {
  padding-bottom: 34px;
}

.user-data--right .user-data__content-item {
  @media (min-width: $vp-tablet) {
    padding-left: 42px;
  }

  @media (min-width: $vp-desktop) {
    padding-left: 76px;
  }
}

.user-data__title {
  position: relative;

  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -18px;

    width: calc(100% + 36px);
    height: 1px;

    background-color: $color-whisper-5;

    @media (min-width: $vp-tablet) {
      display: none;
    }
  }

  @media (min-width: $vp-tablet) {
    margin-bottom: 28px;

    font-size: 21px;
  }

  @media (min-width: $vp-desktop) {
    padding-left: 15px;
  }
}

.user-data--right .user-data__title {
  margin-bottom: 19px;
  padding-top: 26px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 26px;
  }
}

.user-data__content-item {
  position: relative;

  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &--icon::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 58px;
    height: 58px;

    background-color: $color-whisper-6;
    background-repeat: no-repeat;
    background-position: 50%;
    pointer-events: none;
  }

  &--icon-phone::after {
    background-image: url("../images/svg/phone.svg");
  }

  &--icon-email::after {
    background-image: url("../images/svg/email.svg");
  }
}

.user-data__content-name {
  padding-left: 16px;

  color: $color-night-rider;
  text-transform: uppercase;
}

.user-data__form-content {
  padding: 17px 16px 15px 15px;

  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-default-black;

  background-color: $color-white-smoke;
  border: none;

  &::placeholder {
    color: $color-black-transparent;
  }

  &:hover {
    background-color: $color-whisper-5;
  }

  &:active,
  &:focus {
    padding: 12px;

    background-color: $color-default-white;
    border: 4px solid $color-whisper-5;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}

.user-data__content-item--icon .user-data__form-content {
  width: 100%;
  padding-right: 74px;
}
