.user-data__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  margin-bottom: 20px;
  position: relative;
  display: block;
  width: 100%;
}

.user-data__title::before {
  position: absolute;
  content: "";
  height: 1px;
  width: calc(100% + 36px);
  background-color: $color-whisper-5;
  top: 0;
  left: -18px;
}

.user-data__content-item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.user-data__content-name {
  text-transform: uppercase;
  color: $color-night-rider;
  padding-left: 16px;
}

.user-data__form-content {
  border: none;
  background-color: $color-white-smoke;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-default-black;

  &::placeholder {
    color: $color-default-black;
  }

  &--icon {
    padding-right: 74px;
    width: 100%;
    position: relative;
  }

  &--icon::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    background-color: $color-whisper-6;
  }

  &--icon::placeholder {
    opacity: 0.3;
  }
}
