.video {
  padding-top: 17px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $vp-tablet) {
    padding-top: 57px;
  }

  @media (min-width: $vp-desktop) {
    padding: 66px 199px 64px 199px;
  }
}

.video__title {
  margin-bottom: 20px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 30px;
  }
}

.video__text {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 38px;

  color: $color-night-rider;

  @media (min-width: $vp-tablet) {
    margin-bottom: 65px;
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 68px;
  }
}
