.video {
  padding-top: 17px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $vp-tablet) {
    padding-top: 57px;
  }

  @media (min-width: $vp-desktop) {
    padding: 66px 199px 64px 201px;
  }
}

.video__title {
  margin-bottom: 20px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 30px;
  }
}

.video__text {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 38px;

  color: $color-night-rider;

  @media (min-width: $vp-tablet) {
    margin-bottom: 65px;
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 68px;
  }
}

.video__player {
  position: relative;
}

.video__player-button {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 48px;
  height: 54px;

  background-color: $color-default-white;
  border: none;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  opacity: 0.7;

  transition: opacity 0.5s;

  clip-path: polygon(100% 50%, 0 0, 0 100%);

  &:hover {
    opacity: 1;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;

    pointer-events: none;
  }
}

.video__player-image {
  display: block;
  width: 100%;

  object-fit: cover;
}
