.video {
  text-align: center;
  text-transform: uppercase;
  padding-top: 17px;
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 20px;
}

.video__text {
  color: $color-night-rider;
  margin: 0;
  margin-bottom: 38px;
}
