.welcome {
  padding-top: 90px;
  padding-bottom: 79px;

  text-align: center;

  background-color: $color-pattens-blue;
  background-image: url("../images/welcome-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);

  @media (min-width: $vp-tablet) {
    min-height: 518px;

    clip-path: none;
  }

  &--inner {
    padding: 57px 0 60px 0;

    background-size: auto;

    @media (min-width: $vp-tablet) {
      min-height: 301px;
      padding-top: 101px;
    }
  }
}
