.welcome {
  position: relative;

  padding-top: 90px;
  padding-bottom: 81px;

  text-align: center;

  background-color: $color-pattens-blue;
  background-image: url("../images/welcome-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 93%, 50% 100%, 0 93%);

  @media (min-resolution: 2dppx) {
    background-image: url("../images/welcome-background-mobile@2x.jpg");
  }

  @media (min-width: $vp-tablet) {
    min-height: 518px;
    padding-top: 75px;
    padding-bottom: 89px;

    background-image: url("../images/welcome-background-tablet@1x.jpg");

    clip-path: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../images/welcome-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $vp-desktop) {
    min-height: 518px;
    padding-top: 77px;
    padding-bottom: 87px;

    background-image: url("../images/welcome-background-desktop@1x.jpg");

    clip-path: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../images/welcome-background-desktop@2x.jpg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 57px;

    background-image: url("../images/svg/collar.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $vp-tablet) {
      display: block;
    }

    @media (min-width: $vp-tablet) {
      display: block;
    }
  }

  &--inner,
  &--form-inner {
    padding: 52px 45px 67px 45px;

    background-image: url("../images/welcome-inner-mobile@1x.jpg");

    clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);

    @media (min-resolution: 2dppx) {
      background-image: url("../images/welcome-inner-mobile@2x.jpg");
    }

    @media (min-width: $vp-tablet) {
      min-height: 290px;
      padding-top: 95px;

      background-image: url("../images/welcome-inner-tablet@1x.jpg");

      clip-path: none;

      @media (min-resolution: 2dppx) {
        background-image: url("../images/welcome-inner-tablet@2x.jpg");
      }
    }

    @media (min-width: $vp-desktop) {
      min-height: 301px;
      padding-top: 102px;

      background-image: url("../images/welcome-inner-desktop@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../images/welcome-inner-desktop@2x.jpg");
      }
    }
  }

  &--form-inner {
    padding: 52px 45px 67px 45px;

    @media (min-width: $vp-tablet) {
      padding-top: 95px;
    }

    @media (min-width: $vp-desktop) {
      padding-top: 102px;
    }
  }
}

.welcome__image {
  display: block;
  width: 100%;
  max-width: 461px;
  margin: 0 auto;
}

.welcome--inner .welcome__image {
  @media (min-width: $vp-desktop) {
    transform: translateX(-2px);
  }
}
