.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $vp-desktop;
  margin: 0 auto;

  background-color: $color-default-white;
  box-shadow: 0 0 15px rgba($color-default-black, 0.2);
}
