.container {
  width: 100%;
  min-width: $vp-mobile;
  margin: 0 auto;
  padding: 0 18px;

  @media (min-width: $vp-tablet) {
    min-width: $vp-tablet;
    padding: 0 60px;
  }

  @media (min-width: $vp-desktop) {
    min-width: $vp-desktop;
    padding: 0 120px;
  }
}
