// Colors
//---------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Project palette

$color-seagull: #81b3d2;
$color-shakespeare-669: #669ec0;
$color-shakespeare-549: #5496bd;
$color-pattens-blue: #ddebf4;
$color-whisper-0: #eeeeee;
$color-whisper-5: #e5e5e5;
$color-whisper-6: #e6e6e6;
$color-whisper-a: #eaeaea;
$color-reef: #cadfaa;
$color-cream-brulee: #fddb93;
$color-light-grey-5: #d5d5d5;
$color-light-grey-6: #d6d6d6;
$color-night-rider: #333333;
$color-white-smoke: #f2f2f2;
$color-gainsboro: #dbdbdb;
$color-pink-swan: #b3b3b3;
$color-roman-coffee: #766357;
$color-black-01: #010101;

// Typography
//----------------

$fz-default: 14px;
$ff-default: "PT Sans", "Arial", sans-serif;

// Viewports
//----------------

$vp-mobile: 320px;
$vp-tablet: 768px;
$vp-desktop: 1200px;
