// Colors
//---------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Project palette

$color-seagull: #81b3d2;
$color-pattens-blue: #ddebf4;
$color-whisper: #eeeeee;
$color-whisper-5: #e5e5e5;
$color-whisper-6: #e6e6e6;
$color-whisper-7: #e7e5e5;
$color-reef: #cadfaa;
$color-cream-brulee: #fddb93;
$color-light-grey: #d6d6d6;
$color-night-rider: #333333;
$color-white-smoke: #f2f2f2;

// Typography
//----------------

$fz-default: 14px;
$ff-default: "Open Sans", "Arial", sans-serif;

// Viewports
//----------------

$vp-mobile: 320px;
$vp-tablet: 768px;
$vp-desktop: 1200px;
